:root {
	--normal-font: 300;
	--semi-bold-font: 500;
	--bold-font: 600;
	--bolder-font: 700;
	--primary-color: #398245;
	--secondary-background: #f1f1f1;
}

* {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
}

input {
	border: 1px solid gray;
	border-radius: 5px;
	padding: 10px 10px;
}

label {
	padding-bottom: 5px;
	font-size: .8em;
	font-weight: var(--bold-font);
}

textarea {
	border: 1px solid gray;
	border-radius: 5px;
	resize: none;
	padding: 10px 10px;
}

button {
	background-color: var(--primary-color);
	color: white;
	border: none;
	display: inline-block;
	font-weight: var(--bolder-font);
	font-size: 20px;
	padding: 10px 0px;
	width: 200px;
	transition-duration: 0.4s
}

button:hover {
	background-color: #4e9c5b;
	cursor: pointer;
}


.main-banner {
	/* width: 100%;
	height: auto; */
	object-fit: cover;
	width: 100%;
	/* height: auto; */
}

.hero-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px 0px;

	.header {
		color: #569c62;
		font-size: 2em;
	}

	.sub-header {
		font-size: 1.2em;
	}

	.icons {
		display: flex;
		flex-direction: row;
	}

	.icon {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 40px 50px;

		#icon-image {
			width: 150px;
			height: auto;
		}

		.icon-text {
			padding-top: 10px;
			font-weight: var(--semi-bold-font);
		}
	}
}

.description {
	background-color: var(--secondary-background);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px 0px;

	#header {
		font-weight: var(--bold-font);
		padding-bottom: 15px;
	}

	#sub-header {
		font-weight: var(--bold-font);
		font-size: 1.2em;
		padding-bottom: 30px;
	}

	.text-body {
		width: 60%;
		font-size: .9em;
		font-weight: var(--semi-bold-font);
	}
}

.contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px 0px 80px 0px;

	.form-group {
		display: flex;
		flex-direction: row;
		padding: 10px;
	}

	.form-part {
		display: flex;
		flex-direction: column;
		padding: 15px;
		width: 300px;
	}

	.text-area {
		display: flex;
		flex-direction: column;
		padding: 15px;
		width: 600px;
		padding-bottom: 20px;
	}

	#success {
		padding-top: 10px;
	}
}

@media(max-width: 900px) {
	.main-banner {
		aspect-ratio: 1 / 1;
		height: 500px;
		object-position: -300px;
	}

	.hero-section {
		.icons {
			flex-direction: column;
		}
	}

	.text-body {
		width: 80%;
	}

	.contact-form {
		.form-group {
			flex-direction: column;
		}

		.form-part {
			width: 400px;
		}
		.text-area {
			width: 400px;
		}
	}
}