:root {
    --normal-font: 400;
    --semi-bold-font: 500;
    --bold-font: 600;
    --bolder-font: 700;
    --primary-color: #398245;
    --secondary-background: #f7f7f7;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 150px;
}


/*  general element changes */
section {
    border-radius: 10px;
    margin: 20px 0px;
}

input {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    padding: 15px 10px;
    font-size: medium;
}

textarea {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    resize: none;
    padding: 10px 10px;
    font-size: medium;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    display: inline-block;
    font-weight: var(--bolder-font);
    font-size: 20px;
    padding: 10px 0px;
    width: 200px;
    border-radius: 5px;
    transition-duration: 0.4s
}

button:hover {
    background-color: #4e9c5b;
    cursor: pointer;
}

/* Landing Page Sections */
.main-banner {
    background-blend-mode: darken;
    background-image: 
        linear-gradient(to right, rgba(31, 31, 31, 0.52), rgba(255, 255, 255, 0.73)),
        url('images/banner2.png');
    background-size: cover;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .banner-box {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left: 5em;
        gap: 1.5em;
        width: 400px;
        color: white;

        & h1 {
            font-size: 2.5em;
        }
    }
}

h1 {
    font-size: 2em;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    
    .header {
        color: #569c62;
    }

    .sub-header {
        font-size: 1.2em;
    }

    .icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;
        margin-top: 10px;
        width: 70%;
    }

    .icon {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        background-color: var(--secondary-background);
        max-width: 175px;
        padding: 40px 50px;
        border-radius: 10px;
        transition: box-shadow .3s;
        gap: 5px;
       

        #icon-image {
            width: 150px;
            height: auto;
        }
        
        .icon-text {
            padding-top: 10px;
        }

        & p {
            padding-top: 5px;
            font-size: .8em;
        }
    }

    .icon:hover {
        box-shadow: 0 0 11px rgba(72, 72, 72, 0.2);
    }
}

.description {
    background-color: var(--secondary-background);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding: 0 50px; */

    & img {
        width: 40%;
        /* padding: 40px 0; */
        border-radius: 5px;
        aspect-ratio: 5 / 6;
        object-fit: cover;
        object-position: 50% 30%;
    }

    .description-text {
        width: 60%;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 40px;
        margin: 0px 10px;

        .sub-header {
            font-weight: var(--bold-font);
            font-size: 1.2em;
            padding-bottom: 30px;
        }

        & p {
            width: 90%;
            font-size: .9em;
            font-weight: var(--normal-font);
        }
    }
}

.charts {
    display: flex;
    background-color: #FFDC83;
    padding: 30px;

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;

        .charts-bubbles {
            width: 40%;
            

            .charts-text {
                background-color: #edc35e;
                padding: 10px;
                margin: 1em;
                border-radius: 10px;
                border: 1px solid #d9b04d;
                transition-duration: .4s;
                

                & p {
                    font-size: .85em;
                }
            }
            .charts-text:hover {
                box-shadow: 0 0 11px rgba(72, 72, 72, 0.2);
            }
        }

        .charts-image {
            width: 40%;

            & img {
                width: 100%;
            }
        }
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f7f7f7;
        border-radius: 5px;
        width: 60%;
        max-width: 600px;
        padding: 30px 30px;
        margin: 30px 0px;

        & h1 {
            margin-bottom: 15px;
        }

        .form-group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;
            width: 100%;
        }

        .form-part {
            display: flex;
            flex-direction: column;
            padding: 5px 0px;
            width: 100%;
        }

        .text-area {
            display: flex;
            flex-direction: column;
            padding: 5px;
            width: 100%;
            padding-bottom: 20px;
        }

        #success {
            padding-top: 10px;
        }
        & button {
            width: 100%;
        }
    }
}

/* Responsive Changes */
@media(max-width: 1500px) {
    .main-banner>.banner-box {
        padding-left: 50px;
    }
}

@media(max-width: 900px) {
    body {
        padding: 5px;
    }

    input,
    textarea {
        font-size: small;
    }

    .main-banner {
        height: 400px;
        align-items: center;
        background-image: 
        linear-gradient(to top, rgba(31, 31, 31, 0.52), rgba(255, 255, 255, 0.73)),
        url('images/banner2.png');

        .banner-box {
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 80%;
            padding: 100px 0 0 0;
            gap: 1em;
            & h1 {
                font-size: 1.75em;
            }
        }
    }

    .hero-section {
        gap: 10px;

        .icons {
            flex-direction: column;
            width: 100%;
            
            .icon {
                flex-direction: row;
                align-items: center;
                max-width: 100%;
                gap: 10px;
            }
        }
    }

    .description {
        flex-direction: column;
        background: white;

        & img {
            width: 70%;
            aspect-ratio: 8 / 7;
            object-fit: cover;
            object-position: 50% 30%;
            position: relative;
            top: 100px;
        }

        .description-text {
            width: 100%;
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 120px 0px 60px 0px;
            background-color: var(--secondary-background);
            border-radius: 5px;

            .sub-header {
                font-weight: var(--bold-font);
                font-size: 1.2em;
                padding-bottom: 30px;
            }
    
            & p {
                width: 90%;
                font-size: .9em;
                font-weight: var(--normal-font);
            }
        }
    }

    .contact {
        .contact-form {
            width: 100%;
            padding: 30px 0px;
            .form-group {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0px;
                margin-bottom: 10px;
                width: 90%;
            }

            .form-part {
                padding-top: 0px;
            }

            .text-area {
                width: 90%;
            }

            & button {
                width: 90%;
            }
        }
    }
}

